@charset "UTF-8";
/* Scss Document */
/* --- お問い合わせフォーム --- */
/* デザインカスタマイズ */
div.wpcf7 {
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 0px;
  border-radius: 10px;
  margin: 0 0 30px 0; }

div.wpcf7 p {
  padding: 20px 20px 0;
  margin: 0;
  font-size: 11px; }

div.wpcf7 input,
.wpcf7 textarea {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 14px; }

div.wpcf7 textarea {
  width: 97.5%;
  height: 300px; }

div.wpcf7 input.wpcf7-submit {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  width: 200px;
  height: 45px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  background: #333;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5), inset 0px 32px 0px -12px #808080;
  border: 1px solid #666; }

div.wpcf7 input.wpcf7-submit:hover {
  background: #006080;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5), inset 0px 32px 0px -12px #007ea8;
  border: 1px solid #006080; }

.wpcf7 input.wpcf7-submit:active {
  box-shadow: none;
  bottom: -2px;
  position: relative; }

.wpcf7 input:focus,
.wpcf7 textarea:focus {
  border: 1px solid #009de1; }

.wpcf7-captchac {
  border: 1px solid #ccc; }

/* エラー個所をわかりやすく表示 */
.wpcf7 .wpcf7-not-valid {
  background: #ffb6c1; }

.wpcf7 span.wpcf7-not-valid-tip {
  font-size: 80%; }

.wpcf7 .wpcf7-response-output {
  margin: 10px 0 0;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 4px; }

.wpcf7 .wpcf7-validation-errors {
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid #eed3d7; }

.wpcf7 .wpcf7-mail-sent-ok {
  color: #3A87AD;
  background-color: #d9edf7;
  border: 1px solid #bce8f1; }

/* 必須赤色表示 */
.wpcf7 .required {
  color: #f00; }

/* 任意緑色表示 */
.wpcf7 .any {
  color: #080; }
