/* question */

.faq {
	&-row {
		@include display-flex;
		@include align-center;
		margin: {
			bottom: 1em;
		}
	}
	&-qa {
		width: 1.25em;
		font: {
			size: 3em;
		}
		color: #f592a8;
	}
	&-text {
		line-height: 1.8;
	}
	&-question {
		font: {
			weight: 600;
			size: 1.25em;
		}
	}
}

.list-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

