/* office address */

// office address
.office {
	&-name {
		color: #f16082;
	}
    &-address {
        & dt,
        & dd {
            display: inline;
            margin: 0;
        }
        & dt,
        & dd {
            font-weight: 500;
        }
        & dd + dt::before {
            content: "\A";
            white-space: pre;
        }
    }
}

@include media(max-xs) {
	.office-name {
		text-align: center;
	}
	.address-enter::after {
		content: "\A";
        white-space: pre;
	}
}

